.chatrooms-show {
  overflow: hidden;
}
#chatroom {
  padding: 8px 48px;
  min-height: 60vh;
  a {
    text-decoration: none;
    color: rgb(44, 44, 44);
  }
  .inbox {
    display: grid;
    background-color: white;
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px rgba(211, 211, 211, 0.4) solid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
      "user subject date";
    &:hover {
      filter : invert(1);
    }
  }
  .messages {
    overflow-y: scroll;
  }
  .user {
    grid-area: user;
    font-weight: bold;
  }
  .subject {
    grid-area: subject;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .message {
    font-weight: normal;
  }
  .date {
    font-weight: bold;
    grid-area: date;
    text-align: right;
  }
  // Side-inbox
}
#session {
  font-size: 14px;
  height: 88vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 79% 17%;
  grid-template-areas:
    "search user"
    "inbox chat"
    "inbox form";
  .inbox-search {
    grid-area: search;
    input {
      width: 100%;
    }
  }
  .user-info {
    grid-area: user;
    h6 {
      margin: 0;
    }
  }
  .user-info, .inbox-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px rgba(211, 211, 211, 0.4) solid;
    a {
      text-decoration: underline;
      color: rgb(44, 44, 44);
    }
  }
  .messages {
    padding: 0 12px;
    padding-top: 8px;
    overflow-y: scroll;
  }
  .side {
    grid-area: inbox;
    overflow-y: scroll;
    border-right: 1px rgba(211, 211, 211, 0.4) solid;
    a {
      text-decoration: none;
      color: rgb(44, 44, 44);
    }
  }
  .form-container {
    grid-area: form;
    background-color: #474747;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      width: 90%;
    }
    button {
      position: absolute;
      border-radius: 8px;
      background-color: #66baf0;
      color: white;
      font-size: 20px;
      border: 1px solid lightgrey;
      right: 0;
      top: 0;
    }
    #message_content {
      font-size: 14px !important;
      height: 33px;
      padding: 6px 39px 6px 12px;
    }
  }
  .inbox-message {
    grid-area: chat;
    max-height: 67px;
    padding: 12px;
    background-color: white;
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "guitar date"
      "message message";
    .guitar {
      grid-area: guitar;
      font-weight: bold;
    }
    .date {
      grid-area: date;
      font-size: 12px;
      font-weight: bold;
      text-align: right;
    }
    .user {
      grid-area: message;
      font-size: 12px;
      font-weight: bold;
      color:rgb(162, 162, 162);
      display: inline-block;
      width: 85%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user span {
      font-weight: normal;
    }
  }

}
.inbox-container {
  background: #e3e2e2;
  height: 60vh;
  border-radius: 8px;
  margin-top: 1rem;
  overflow-y: scroll;
}
