#chatroom {
  padding: 8px 12px;
  min-height: 60vh;
  a {
    text-decoration: none;
    color: rgb(44, 44, 44);
  }
  .inbox {
    display: grid;
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px rgba(211, 211, 211, 0.4) solid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
      "user subject date";
    &:hover {
      color: rgb(0, 0, 0);
    }
  }
  .user {
    grid-area: user;
  }
  .subject {
    grid-area: subject;
  }
  .date {
    grid-area: date;
    text-align: right;
  }
}
#session {
  height: 65vh;
  display: grid;
  padding: 0 12px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "inbox chat"
    "inbox form";
  .messages {
    grid-area: chat;
    overflow-y: scroll;
  }
  form {
    grid-area: form;
  }
  #side-inbox {
    grid-area: inbox;
    overflow-y: scroll;
    border-right: 1px rgba(211, 211, 211, 0.4) solid;
  }
}
