<div class="container mt-3 mb-5" data-controller="messages">

  <div class="messages" data-messages-target="items" data-chatroom-id="<%= @chatroom.id %>">
    <%#= render partial: 'messages/message', collection: @chatroom.messages.order(created_at: :asc) %>
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= render partial: 'messages/form' %>
</div>
