<footer class="mt-3">
  <div class="container">
    <h2>STRUNG</h2>
    <p>The best pick for guitar rentals</p>
    <div class="links">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-envelope-at"></i>
    </div>
    <div class="infos">
      <a href="#">Privacy Policy</a>
      <a href="#">Cookie Notice</a>
      <a href="#">Terms of Use</a>
      <a href="#">Advertise</a>
      <a href="#">Contact</a>
    </div>
    <h6>Strung.com | Guitar Rentals Inc.</h6>
  </div>
</footer>
