.info-box {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  grid-template-areas: "info booking";
  .guitar-info {
    grid-area: info;
    padding: 8px;
    margin-right: 28px;
  }
  .booking {
    grid-area: booking;
  }
  #description {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .info-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "info" "booking";
    .guitar-info {
      margin-right: 0;
    }
  }
}
