.gallery-modal, .review-modal {
  place-items: center;
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 100;
}
.open {
  display: grid;
}
// Review Modal
.review-container {
  background-color: white;
  border-radius: 8px;
  height: 80%;
  min-height: 350px;
  width: 80%;
  padding: 12px;
  padding-top: 0;
  overflow-y: scroll;
  .review-info {
    padding-top: 12px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    width: 77.5%;
    position: fixed;
    border-bottom: 1px solid #e0e0e0;
    z-index: 10;
  }
  .review-card:first-of-type {
    margin-top: 62px !important;
  }
  .close {
    cursor: pointer;
  }
  #reviews {
    text-decoration: none;
    cursor: default;
  }
}
