.navbar-lewagon {
  justify-content: space-between;
  background: #181818;
  box-shadow: 0px 3px 8px 4px rgba(0, 0, 0, 0.2);
  h5, a {
    color: white;
    text-decoration: none;
  }
  img {
    border: 2px solid white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
