<div class="container mt-5 mb-5">
  <h1>New Review</h1>
  <%= simple_form_for [@guitar, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment %>
    <%= f.submit 'Save' %>
  <% end %>
</div>
